# private files
docs/
cp-hw/

# poetry
.venv/
poetry.lock

# build files
dist/

# log files
*.log

# mac
.DS_Store

# vscode settings
.vscode

# python cache
__pycache__

# pytest cache
.pytest_cache

# for examples directory
examples/**/files
examples/**/*.csv
examples/**/correct/*
!examples/**/correct/*.c
!examples/**/correct/*.h
!examples/**/correct/Makefile
!examples/**/correct/*.py

# 2024-cp2-hw03 example
!examples/2024-cp2-hw03/correct/*.txt

# 2024-cp2-fin example
!examples/2024-cp2-fin/correct/*.txt
